*{
      margin:0;
      padding:0;
      box-sizing:border-box;
      text-decoration: none;
      list-style: none;
    }

    :root{
      --bg-transparent:rgba(247,243,238,0.75);
      --bg:#F7F3EE;
      --bege:#E8D8C4;
      --marrom:#7A5C43;
      --verde:#6E7B5D;
      --texto:#2B2B2B;
      --white:#FFFDF9;
    }

    .section {
        padding: 3rem 2rem;
        margin: 0 auto;
        max-width: 1200px;
    }

    /*HEADER*/

    .header {
        width: 100%;
        padding:15px 5%;
        position:sticky;
        top:0;
        left:0;
        z-index:999;
        backdrop-filter:blur(10px);
        background-color:rgba(247,243,238,0.75);
        border-bottom:1px solid rgba(0,0,0,0.05);
    }
    .nav-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .nav-lista ul {
        display: flex;
        gap: 1rem;
        flex-wrap: nowrap;
    }
    .nav-lista ul li a {
        color: var(--marrom);
        font-family:'Montserrat', sans-serif;
        font-size: 0.8rem;
    }
    .nav-lista a:hover{
        color: var(--verde);
    }
    .nav-img img {
        display: block;
        width: 80px;
    }
    @media screen and (max-width:768px) {
        .header
        .nav-content {
            flex-direction: column;
        }
    }

    /*HERO*/

    .hero-banner {
        background-image: linear-gradient(to left,  var(--bg), transparent), url('img/banner-principal.jpg');
        background-size: cover;
        background-position: center;
        height: 40rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-content {
        width: 50%;
        text-align: center;
    }
    .hero-content h1 {
        font-size: 3.5rem;
        color: var(--marrom);
        font-family:'Cormorant Garamond', serif;
        margin-bottom: 1rem;
        
    }
    .hero-content p {
        font-size: 1.3rem;
        color: var(--texto);
        font-family:'Montserrat', sans-serif;
    }
    .btn {
        padding: 0.75rem 1.5rem;
        color: var(--marrom);
        border: 1.5px solid var(--marrom);
        background-color: transparent;
        font-family:'Montserrat', sans-serif;
        margin-top: 2rem;
        font-weight: 500;
        border-radius: 8px;
    }
    .btn:hover {
        background-color: var(--marrom);
        color: var(--white);
        transition: 0.7s ease;
    }
    @media screen and (max-width:768px) {
        .hero-content {
            width: 100%;
        }
        .hero-content h1 {
            font-size: 2.5rem;
        }
    }

    /*SOBRE NÓS*/

    .sobre-nos {
        width: 100%;
    }
    .sobre-nos-title h1 {
        font-size: 1.8rem;
        color: var(--marrom);
        margin-top: 2rem;
        font-family:'Cormorant Garamond', serif;
        text-align: center;
    }
    .sobre-nos-title p {
        font-size: 0.9rem;
        color: var(--texto);
        font-family:'Montserrat', sans-serif;
        text-align: center;
        margin-top: 0.5rem;
    }
    .sobre-nos-content {
        display: flex;
        justify-content: space-evenly;
        margin-top: 3rem;
        align-items: center;
        gap: 2rem;
    }
    .sobre-nos-img img {
        width: 130%;
        height: 500px;
        object-fit: cover;
        border-radius: 8px;
    }
    .sobre-nos-text {
        width: 45%;
    }
    .sobre-nos-text h2 {
        font-size: 2.9rem;
        color: var(--marrom);
        font-family:'Cormorant Garamond', serif;
        margin-bottom: 1rem;
    }
    .sobre-nos-text p {
        font-size: 0.9rem;
        color: var(--texto);
        font-family:'Montserrat', sans-serif;
        line-height: 1.5;
    }
    @media screen and (max-width:768px) {
        .sobre-nos-content {
            flex-direction: column;
            text-align: center;
        }
        .sobre-nos-img img {
            width: 100%;
            height: auto;
        }
        .sobre-nos-text {
            width: 100%;
        }
    }

    /*destaques*/
    .destaques {
        margin-top: 3rem;
        width: 100%;
    }
    .destaques-title h1 {
        font-size: 1.8rem;
        color: var(--marrom);
        margin-top: 2rem;
        font-family:'Cormorant Garamond', serif;
        text-align: center;
    }
    .destaques-title p {
        font-size: 0.9rem;
        color: var(--texto);
        font-family:'Montserrat', sans-serif;
        text-align: center;
        margin-bottom: 1.8rem;
    }
    .destaques-content {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .cards {
        width: 270px;
        padding-bottom: 1rem;
        text-align: center;
        border: 1px solid var(--bege);
        border-radius: 8px;
        overflow: hidden;
        
    }
    .cards img {
        width: 100%;
        border-radius: 8px;
        height: 300px;
        object-fit: cover;
        display: block;
    }
    .cards:hover {
        transform: translateY(-7px);
        transition: 0.5s ease;
    }
    .cards h3 {
        font-size: 1.2rem;
        color: var(--marrom);
        font-family:'Cormorant Garamond', serif;
        margin-top: 0.5rem;
    }
    .cards span {
        font-size: 0.8rem;
        color: var(--texto);
        font-family:'Montserrat', sans-serif;
    }
    .btn2 {
        padding: 0.5rem 0.5rem;
        color: var(--white);
        border: 1.0px solid var(--verde);
        background-color: var(--verde);
        font-size: 0.7rem;
        font-family:'Montserrat', sans-serif;
        font-weight: 500;
        border-radius: 15px;
        display: block;
        margin: 15px auto 0;
        cursor: pointer;
    }
    @media screen and (max-width:768px) {
        .destaques-content {
            flex-direction: column;
            align-items: center;
        }
    }

    /*Galeria*/

    .galeria {
        margin-top: 3rem;
        width: 85%;
        max-width: 1200px;
        margin: 0 auto;
    }
    .galeria-title h1 {
        font-size: 1.8rem;
        color: var(--marrom);
        margin-top: 2rem;
        font-family:'Cormorant Garamond', serif;
        text-align: center;
    }
    .galeria-title p {
        font-size: 0.9rem;
        color: var(--texto);
        font-family:'Montserrat', sans-serif;
        text-align: center;
        margin-bottom: 1.8rem;
    }
    .galeria-content {
        align-items: center;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 0.5rem;
    }
    .galeria-content img {
        width: 100%;
        margin: 0 auto;
        border-radius: 8px;
        height: 200px;
        
    }.galeria-content img:hover {
        transform: translateY(-5px);
        transition: 0.5s ease;
    }